* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-image: url("https://wallpapercave.com/wp/Xmmby6p.jpg") ;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
}


.page-title{
    text-align: center;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    background-color: rgb(175, 180, 247);
    padding-bottom: 0.3rem;
}


.game-container{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-gap: 10px;
    margin-top: 50px;
    
}


.game-info-container{
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    font-size: 2rem;
    background-color: rgb(128, 128, 128);
}

.card{
    height: 9rem;
    width: 9rem;
    transform-style: preserve-3d;
    transition: transform .7s;
    /*** Denna gör så att .card blir lite snea <- ***/
    transform: rotate3d(1, 1, 1, -20deg);
}

  
.card.letsFlip {
    transform: rotateY(180deg);
    
  }



.front-face {
    transform: rotateY(180deg);
  }
  
.front-face, .back-face {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
  }


